@media screen and (min-width: 320px) and (max-width: 1200px){}

@media screen and (min-width: 320px) and (max-width: 992px){
	
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-bar i {
		display: block;
	}
	.menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 50px;
		right: 50px;
		width: 90%;
		z-index: 1;
		background: #fff;
		overflow: scroll;
	}
	.menu li {
		display: block;
		padding: 15px 0px;
	}
	.menu li:last-child {
		display: none;
	}
	.search {
		display: block;
		position: absolute;
		top: 11px;
		right: 70px;
		z-index: 1;
	}
	.searchBox {
		right: 55px;
	}
	.sectFour .sectContent, .testContent, .custMain {
		flex-wrap: wrap;
	}
	.iconSect, .clientSec, .custBox {
		flex: 0 0 48%;
		width: 48%;
		margin-right: 14px;
	}
	.iconSect:last-child  , .clientSec:last-child  , .custBox:last-child {
		margin-top: 50px;
	}
	.footer {
		margin-top: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px){
	.menu {
		right: 40px;
	}
	.banner {
		height: auto;
	}
	.bannerMain {
		flex-wrap: wrap;
		padding-top: 20px;
	}
	.bannerLeft, .bannerRight {
		width: 100%;
	}
	.bannerRight {
		margin-top: 50px;
	}
	.sectOne {
		padding: 20px 0px;
	}
	h3 {
		padding-bottom: 15px;
	}
	.counterSec {
		flex-wrap: wrap;
	}
	.countMain {
		width: 100%;
		flex: 0 0 100%;
	}
	.sectContent, .sectContent, .testContent, .custMain, .footerMain, .footerBottom {
		flex-wrap: wrap;
	}
	.sectLeft, .sectRight {
		width: 100%;
		flex: 0 0 100%;
		margin-right: 0;
	}
	.iconSect, .clientSec, .custBox {
		width: 100%;
		flex: 0 0 100%;
		margin-right: 0px;
	}
	.footerMain .footContent, .footerBottom .footContent {
		flex: 0 0 48%;
		width: 48%;
		margin-right: 10px;
	}
	.iconSect:nth-child(2), .clientSe:nth-child(2), .custBox:nth-child(2), .footerMain .footContent:nth-child(2), .footerBottom .footConten:nth-child(2) {
		margin-right: 0;
	}
	.footerMain .footContent:nth-child(3), .footerBottom .footContent:nth-child(3), .footerMain .footContent:nth-child(4), .footerBottom .footContent:nth-child(4) {
		margin-top: 20px;
	}
	.custBox:nth-child(2), .custBox:last-child {
		margin-top: 50px;
	}
}